Host github.com
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_rsa_travis_ci
  IdentitiesOnly yes
Host ximing.ren
  User root
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_rsa_travis_ci
  IdentitiesOnly yes
